# pkg
node_modules
.DS_Store

# installers
yarn.lock
pnpm-lock.yaml
run.bat
json.sqlite
runner.log
yarn-error.log

.VSCodeCounter/

# env
.env
.env.*
!.env.example
env.development
env.production
*.tmp

# config
config.json
dist/
backups/
src/assets/data/starrailres/

src/server.ts
