# pkg
node_modules

# installers
package-lock.json
yarn.lock
pnpm-lock.yaml
run.bat
json.sqlite
runner.log
yarn-error.log

.VSCodeCounter/

# env
.env
.env.*
!.env.example
env.development
env.production
*.tmp

# config
config.json
dist/

src/server.ts